{% extends 'base.html' %}

{% block principal%}

<div class="container">
    <div class="row">

        {% for elemento in eventos.all %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ elemento.imagen.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <em>{{ elemento.tipo }}</em>
                    <h5 class="card-title">{{ elemento.titulo }}</h5>
                    <p class="card-text">{{ elemento.texto_resumen }}</p>
                    <p class="card-text">Fecha del evento: <br />  {{ elemento.fecha_del_evento }} h</p>
                    <a href="{% url 'evento_detalle' elemento.id %}" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}